.input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputError {
    height: 25px;
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 1vmin;
    text-align: center;
}