.loginContainer {
    display: flex;
    flex-direction: column;
}

.loginBoxContainer {
    width: 50vw;
    height: 50vh;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.loginForm {
    font-size: 0.7rem;
    width: 50%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.loginTitle {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    h4 {
        margin: 0;
    }
}

.input {
    width: 100%;
}

.inputLabelContainer {
    padding-bottom: 0.5rem;
}

.buttonSignIn {
    background: #01d28e;
    border: none;
    border-radius: 20px;
    width: 75%;
    margin-top: 1rem;
    &:hover {
        background: #00e79a;
    }
}

.signUpContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.signUpText {
    font-size: 0.5rem;
    color: grey;
    a {
        text-decoration: none;
        font-weight: bold;
        color: #1641ff;
        &:hover {
            color: #5978ff;
        }
    }
}