.deleteMedicationModalFooterButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.buttonDelete {
  background: #991515;
  border: none;
  color: whitesmoke;
  border-radius: 20px;
  width: 5rem;
  &:hover {
    background: #bb2f2f;
  }
}

.buttonCancel {
  background: rgb(212, 212, 212);
  border: none;
  color: black;
  border-radius: 20px;
  width: 3rem;
  &:hover {
    background: rgb(185, 185, 185)
  }
}

.deleteMedicationText {
  font-size: 0.8rem;
}