.login-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(7, 28, 221, 0.2), 0 6px 20px 0 rgba(7, 28, 221, 0.2);
    border-radius: 20px;
}

.login-form {
    margin: 80px 80px 40px 80px;
    text-align: left;
    font-size: 1.3vmin;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.signUp-container {
    margin-bottom: 30px;
}

.signUp-text {
    font-size: 1.2vmin;
}

.login-title {
    font-size: calc(10px + 2vmin);
}