.buttonAddNewMedication {
  background: #197080;
  border: none;
  color: black;
  font-size: 1.5vmin;
  border-radius: 10px;
}

.buttonAddNewMedication {
  &:hover {
    background: #1f8192;
    border: none;
  }
}

.medicationItemFulfilled {
  background-color: #417759;
  border: 1px solid #417759;
}

.medicationItemFulfilled {
  &:hover {
    background-color: #538668;
    border: 1px solid #538668
  }
}

.medicationItemCounterButtonFulfilled {
  background: #417759;
}

.medicationItemCounterButtonFulfilled {
  &:hover {
    background: #538668;
  }
}