.medicationTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  thead {
    tr {
      color: #000000;
      text-align: left;
    }
  }
  th {
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
  }
  td {
    font-size: 0.8rem;
    padding-top: 2rem;
    padding-left: 0.5rem;
    word-wrap: break-word;
  }
  tbody {
    tr {
      text-align: left;
      border-bottom: 1px solid #e4e4e4;
    }
  }
}

.medicationTableDescriptionColumn {
  width: 30%;
}