.medicationsMainBoxContainer {
  width: 75vw;
  height: 75vh;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.medicationsListHeaderContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #555555;
}

.medicationsListContainer {
  position: relative;
  flex: 6;
  overflow: auto;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.medicationsListHeader {
  align-self: flex-end;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  h4 {
    margin: 0;
  }
}

.medicationsListHeaderButtons {
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding-right: 1.5rem;
  padding-bottom: 0.2rem;
}

.buttonSignOut {
  background: #991515;
  border: none;
  border-radius: 20px;
  height: 1.8rem;
  flex: auto;
  &:hover {
      background: #bb2f2f;
  }
}

.buttonAddMedication {
  position: sticky;
  bottom: 1rem;
  left: 0;
  background: #093dcc;
  border: none;
  border-radius: 20px;
  height: 1.8rem;
  width: 10rem;
  margin-top: 1.5rem;
  &:hover {
      background: #1250fa;
  }
}

.medicationSuccessfullAlert {
  font-family: "Nunito", sans-serif !important;
}