.medicationsContainer {
  padding: 5%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #b19d8b;
  border: 1px solid #b19d8b;
  border-radius: 15px;
}

li div {
  margin: 5px;
}