.registerContainer {
    display: flex;
    flex-direction: column;
}

.registerBoxContainer {
    width: 50vw;
    height: 50vh;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerContentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.registerForm {
    font-size: 0.7rem;
    width: 50%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.registerTitle {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    h4 {
        margin: 0;
    }
}

.input {
    width: 100%;
}

.inputLabelContainer {
    padding-bottom: 0.5rem;
}

.buttonSignUp {
    background: #093dcc;
    border: none;
    border-radius: 20px;
    width: 75%;
    margin-top: 1rem;
    &:hover {
        background: #1250fa;
    }
}

.signInContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.signInText {
    font-size: 0.5rem;
    color: grey;
    a {
        text-decoration: none;
        font-weight: bold;
        color: #169e2c;
        &:hover {
            color: #1ec239;
        }
    }
}