.register-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(7, 28, 221, 0.2), 0 6px 20px 0 rgba(7, 28, 221, 0.2);
    border-radius: 20px;
}

.register-form {
    margin: 80px 80px 40px 80px;
    text-align: left;
    font-size: 1.3vmin;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

input[type="email"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-signUp {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #093dcc;
    border: 1px solid #093dcc;
    color: #fff;
    padding: 10px 20px;
}

.register-title {
    font-size: calc(10px + 2vmin);
}